@font-face {
  font-family: 'OpenSansBold';
  src: url('../fonts/OpenSansBold/OpenSansBold.eot');
  src: url('../fonts/OpenSansBold/OpenSansBold.woff2') format('woff2'),
       url('../fonts/OpenSansBold/OpenSansBold.woff') format('woff'),
       url('../fonts/OpenSansBold/OpenSansBold.ttf') format('truetype'),
       url('../fonts/OpenSansBold/OpenSansBold.svg#OpenSansBold') format('svg'),
       url('../fonts/OpenSansBold/OpenSansBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansLight';
  src: url('../fonts/OpenSansLight/OpenSansLight.eot');
  src: url('../fonts/OpenSansLight/OpenSansLight.woff2') format('woff2'),
       url('../fonts/OpenSansLight/OpenSansLight.woff') format('woff'),
       url('../fonts/OpenSansLight/OpenSansLight.ttf') format('truetype'),
       url('../fonts/OpenSansLight/OpenSansLight.svg#OpenSansLight') format('svg'),
       url('../fonts/OpenSansLight/OpenSansLight.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansRegular';
  src: url('../fonts/OpenSansRegular/OpenSansRegular.eot');
  src: url('../fonts/OpenSansRegular/OpenSansRegular.woff2') format('woff2'),
       url('../fonts/OpenSansRegular/OpenSansRegular.woff') format('woff'),
       url('../fonts/OpenSansRegular/OpenSansRegular.ttf') format('truetype'),
       url('../fonts/OpenSansRegular/OpenSansRegular.svg#OpenSansRegular') format('svg'),
       url('../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansSemibold';
  src: url('../fonts/OpenSansSemibold/OpenSansSemibold.eot');
  src: url('../fonts/OpenSansSemibold/OpenSansSemibold.woff2') format('woff2'),
       url('../fonts/OpenSansSemibold/OpenSansSemibold.woff') format('woff'),
       url('../fonts/OpenSansSemibold/OpenSansSemibold.ttf') format('truetype'),
       url('../fonts/OpenSansSemibold/OpenSansSemibold.svg#OpenSansSemibold') format('svg'),
       url('../fonts/OpenSansSemibold/OpenSansSemibold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}