@media only screen and (max-width : 1200px) {
    .one_order_item_name {
        width: 420px;
}
}



@media only screen and (max-width : 992px) {
body{
	background-color: #999;
}
.categori_wrap {
    width: 140px;
    padding: 5px;
}
.categori_wrap div {
    height: 80px;
}
.categori_wrap span{
	font-size: 12px;
}
    .one_order_item_name {
        width: 295px;
}
.one_order_item_remove{
    margin-left: 20px;
}
.one_order_item_price,
.one_order_item_price_all{
    width: 90px;
    font-size: 14px;
}
.one_order_item {
    border-radius: 5px;
}


@media only screen and (max-width : 768px) {
h1{
    font-size: 24px;
}  
h2{
    font-size: 18px;
}
.one_order_item_info{
    display: block;
    margin: 0 auto;
    width: 280px;
}
.one_order_item_remove {
    margin-left: 10px;
}
}



@media only screen and (max-width : 480px) {
.categori_wrap {
    width: 94px;
}
.categori_wrap div {
    height: 60px;
}
.categori_wrap a {
    padding: 5px;
}
.categori_wrap span {
    font-size: 8px;
}

.one_order_item_name {
    width: 205px;
}
.one_order_item_img {
    width: 70px;
    height: 70px;
}
.one_order_item_price, .one_order_item_price_all {
    font-size: 12px;
}

}
