html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}



.navbar-inverse{
    border-bottom: 2px solid #f56a48;
}


.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    zoom:1; /* Хак для IE 6 и 7 */
}
p{
    margin: 0;
}
body{
    min-width: 320px;
/*    background-color: #999;*/
}
.categories_wrap, .categori_content ul{
    list-style: none;
    text-align: center;
    padding: 0;
}
.categori_wrap{
    width: 180px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
}
.categori_wrap a{
    display: block;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}
.categori_wrap a:hover span{
    text-decoration: underline;
    color: #f56a48;
    text-transform: uppercase;
}
.categori_wrap img{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.categori_wrap a:hover img{
    max-width: 110%;
    max-height: 110%;
    opacity: 1;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
}
.categori_wrap span{
    display: inline-block;
    padding: 10px 0 0 0;
    color: #000;
   /* color: #f56a48;*/
    font-family: 'OpenSansSemibold';
}
.categori_wrap div{
    height: 110px;
    position: relative;
}
#up_page{
    display: none;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    left: 15px;
    height: 35px;
    width: 35px;
  /*  background: #000;*/
    z-index: 9999;
    background: rgba(0,0,0,0.5);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
/*    opacity: 0.8;*/
}
#up_page:hover{
    background: #f56a48;
}




.categori_title{
    border-bottom: 3px solid #f56a48;
}
.subcategori_title{
    text-align: center;
}
.subcategori_title h2{
    font-size: 20px;
    padding: 5px 10px;
    background: #f56a48;
    color: #fff;
    border-radius: 10px;
    display: inline-block;
}
.categori_content li{
    padding: 10px;
    display: inline-block;
    vertical-align: top;
}
.catalog_product_wrap{
    border-radius: 10px;
    border: 1px solid #999;
    background: #fff;
}
.catalog_product_img{
    position: relative;
    overflow: hidden;
    width: 235px;
    height: 235px;
}
.catalog_product_img img{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0%);
    -webkit-transform: translate(-50%,0%);
    -o-transform: translate(-50%,0%);
    -moz-transform: translate(-50%,0%);
    height: 100%;
}
.catalog_product_wrap > a{
    text-decoration: none;
    color: #333;
    display: block;
    text-align: left;
}
.catalog_product_info_wrap{
    height: 100px;
    padding: 5px 5px 5px 15px;
    font-size: 14px;
}
.catalog_product_info_wrap h3{
    margin: 0;
    padding: 3px 0;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'OpenSansSemibold';
}
.catalog_product_info{
    color: #999;
    font-size: 12px;
}
.catalog_product_price{
    padding: 5px 5px 5px 15px;
    color: #f56a48;
    font-size: 24px;
    font-family: 'OpenSansSemibold';
}
.catalog_product_price span{
   font-size: 14px;
}
.catalog_product_quantity{
    float: right;
    position: relative;
}
.catalog_product_footer{
    padding: 10px 10px 20px 15px;
}
.catalog_product_quantity input{
    width: 30px;
    height: 30px; 
    text-align: center;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, .46);
    border-radius: 5px;
}
.catalog_product_footer a{
    background: rgba(0,0,0,0.5);
    border: 1px solid #f56a48;
    padding: 5px 15px;
    border-radius: 15px;
    float: left;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.catalog_product_footer a:hover{
    background: #f56a48;
}
.catalog_product_footer a:active{
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.catalog_product_quantity .plus{
    position: absolute;
    top: -15px;
    left: 5px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f56a48;
    cursor: pointer;
}
.catalog_product_quantity .minus{
    position: absolute;
    bottom: -15px;
    left: 5px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(0,0,0,0.5);
    cursor: pointer;
}